<h1>Hi</h1>
<h1><%= session[:username] %> 's Items</h1>
<table style= 'border-spacing:10px;'>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Seller</th>
    <th>Brought At</th>
    <th>Remove Record</th>
  </tr>
  <p style="visibility:hidden;"><% @all_in.all.each do |all_in| %></p>
    <% help= User.find_by id:all_in.User_id%>
    <tr>
    <td><%=all_in.name%></td>
    <td><%=all_in.price%></td>
    <td><%=all_in.seller%></td> 
    <td><%=all_in.created_at%></td>
    <td><%= form_with url: '/main/inventories', method: 'post', data: {turbo:false} do |form| %>
        <%= form.hidden_field :all_id,value:all_in.id%>
        <%= form.submit "Remove"%>
    <%end%>
    </td>
    </tr>
<% end %>
</table>
<%= form_with url: '/main/user_item', method: 'post', data: {turbo:false} do |form| %>
    <%= form.submit "Back to user_item"%>
  <%end%>
  <%= form_with url: '/shop/main', method: 'post', data: {turbo:false} do |form| %>
    <%= form.submit "Back to Shop"%>
  <%end%>