
<h1> Hello New User! </h1>
<%= form_with url: '/main/home', method: :post, data:{turbo:false} do |form| %>
    <%= form.label :query, "Name:" %>
    <%= form.text_field "name",:value => params["name"],:required=>'required',:class=>'form-control' %><br>
    <%= form.label :query, "Username:" %>
    <%= form.email_field "username",:value => params["username"],:required=>'required',:class=>'form-control' %><br>
    <%= form.label :query, "Password:" %>
    <%= form.password_field "password",:value =>params["password"] ,:required=>'required',:class=>'form-control'%>
    <%= form.label :query, "User type: (0 = Admin, 1 = Seller, 2 = Buyer)",:class=>'mt-4' %>
    <%= form.number_field "usertype",:value => params['usertype'],in: 0...3,:required=>'required',:class=>'form-control' %><br>
    <br>
    <%= form.submit "Register" %>
<% end %> 