<div id="<%= dom_id item %>">
  <p>
    <strong>ID:</strong>
    <%= item.id %>
  </p>
  
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= item.category %>
  </p>

  <%= image_tag rails_blob_path(item.picture, disposition: :attachment) %>

</div>
