<div id="<%= dom_id item %>">
  <p>
    <strong>ID:</strong>
    <%= item.id %>
  </p>
  
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= item.category %>
  </p>
  <% if item.picture.attached? %>
      <%= image_tag rails_blob_path(item.picture.variant(resize_to_limit: [100, 100]), disposition: :attachment) %>
  <% else %>
      <%= image_tag "nopic.png", :size => "100"%>
  <% end %>

</div>
