<h1>Item Edit</h1>
<% if @item.errors.any? %>
    <div style="color: red">
        <h2><%= pluralize( @item.errors.count, "error") %> prohibited this item from being saved:</h2>

        <ul>
        <% @item.errors.each do |error| %>
            <li><%= error.full_message %></li>
        <% end %>
        </ul>
    </div>
<% end %>

<%= form_with url: '/main/user_manage', method: :post, data:{turbo:false} do |form| %>
    <%= form.label :query, "Name:" %>
    <%= form.text_field "name",:value => @name,:required=>'required'%><br>
    <%= form.label :query, "category" %>
    <%= form.text_field "category",:value =>@category,:required=>'required' %>
    <br>
    <%= form.label :enable, "Enable" %>
    <%= form.radio_button "enable", 'yes', checked: @enable %>Yes
    <%= form.radio_button "enable", 'no', checked: !@enable %>No
    <br>
    <%= form.label :picture, style: "display: block" %>
    <%= form.file_field :picture %>
    <%= form.hidden_field :item_id, value:@Item%>
    <%= form.hidden_field :lock_version, value: @lock_version %>
    <%= form.submit "Done" %>
<% end %>

<%= link_to "CANCEL", item_index_path %>