
<p>Find me in app/views/user/edit.html.erb</p>

<%= form_with url: '/user/user_manage', method: :post, data:{turbo:false} do |form| %>
    <%= form.label :query, "Name:" %>
    <%= form.text_field "name",:value => params["name"],:required=>'required',:class=>'form-control',:placeholder => @username.name %><br>
    <%= form.label :query, "Username:" %>
    <%= form.email_field "username",:value => params["username"],:required=>'required',:class=>'form-control',:placeholder => @username.username %><br>
    <%= form.label :query, "Password:" %>
    <%= form.password_field "password",:value =>params["password"] ,:required=>'required',:class=>'form-control'%>
    <%= form.label :query, "User type: (0 = Admin, 1 = Seller, 2 = Buyer)",:class=>'mt-4' %>
    <%= form.number_field "usertype",:value => params['usertype'],in: 0...3,:required=>'required',:class=>'form-control',:placeholder => @username.user_type %><br>
    <%= form.hidden_field :id,value:@username.id%>    
    <%= form.hidden_field :lock_version,value:@username.lock_version%>    
    <br>
    <%= form.submit "Save" %>
<% end %>
